.menuItems:hover{
  opacity: 0.5;
  cursor: pointer;
}

.menuItems{
  margin-bottom: 35px;
  border-bottom: 1px solid lightgray;
}

@media(min-width: 767px){
  .menuItems{
    margin-left: 50px;
    margin-bottom: 0;
    border: none;
  }
}

@media(min-width: 850px){
  .menuItems{
    margin-left: 63px;
  }
}