*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face{
  font-family: mainFont;
  src: url('./fonts/Kanit-Medium.ttf');
}
@font-face{
  font-family: bigMsgs;
  src: url('./fonts/Moderat-Bold.ttf');
}
@font-face{
  font-family: aboutInfo;
  src: url('./fonts/Kanit-Regular.ttf');
}
@font-face{
  font-family: thinFont;
  src: url('./fonts/EBGaramond-VariableFont_wght.ttf');
}
:root{
  --darkBackground: #2b2b2b;
  --grayBackground: #f1f1f1;
  --navbarBackground: rgb(31, 30, 30);
  --maxWidth: 1300px;
  --navbarHeight: 50px;
}
