*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face{
  font-family: mainFont;
  src: url('./fonts/Kanit-Medium.ttf');
}
@font-face{
  font-family: bigMsgs;
  src: url('./fonts/Moderat-Bold.ttf');
}
@font-face{
  font-family: aboutInfo;
  src: url('./fonts/Kanit-Regular.ttf');
}
@font-face{
  font-family: thinFont;
  src: url('./fonts/EBGaramond-VariableFont_wght.ttf');
}
:root{
  --blueColor: #1293CA;
  --whiteColor: #fefefe;
  --blackColor: #000000;
  --darkBackground: #2b2b2b;
  --grayColor: #6E7271;
  --grayBackground: #f1f1f1;
  --navbarBackground: rgb(31, 30, 30);
}
